.formInput,.dt-container
{
    margin-top : 5%;
}
.dt-bottom
{
    margin-top : 5%;
    justify-content: center;
}
.customFilter
{
    padding:8px 10px;
}
.hideButton
{
    display: none;
}
.dt-table>tbody>tr>td:first-child {
    text-align: left !important;
}